<!-- ./templates/form_template.html -->
{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>Data to be displayed:</h2>
    <input type="radio" name="implementation" value="temperature" onclick="showTemperatureForm();" checked> Temperature <br>
    <input type="radio" name="implementation" value="co2" onclick="showCo2Form();"> CO<sub>2</sub> <br>
    <input type="radio" name="implementation" value="co2_bc" onclick="showCo2BcForm();"> CO<sub>2</sub> by Country <br>
    <br>

    <form id="temperature_form" action="calculate_temperature" onsubmit="return validateTemperatureValues()" method="POST">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="selectStartYear">Start year:</label>
            </div>
            <!-- The selects are populated by JavaScript in the static folder under utils.js -->
            <div class="col-sm-10">
                <select id="selectStartYear" class="form-control" name="selectStartYear" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="selectEndYear">End year:</label>
            </div>
            <div class="col-sm-10">
                <select id="selectEndYear" class="form-control" name="selectEndYear" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="selectMonth">Month:</label>
            </div>
            <div class="col-sm-10">
                <select id="selectMonth" class="form-control" name="selectMonth" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="ymin">Lowest temperature in Celsius:</label>
            </div>
            <div class="col-sm-10">
                <input id="ymin" class="form-control" type="number" name="ymin" min="-90" max="60" step="0.01" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="ymax">Highest temperature in Celsius:</label>
            </div>
            <div class="col-sm-10">
                <input id="ymax" class="form-control" type="number" name="ymax" min="-90" max="60" step="0.01" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Plot</button>
    </form>

    <form id="co2_form" style="display: none" action="calculate_co2" method="POST">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="selectStartYearCo2">Start year:</label>
            </div>
            <div class="col-sm-10">
                <select id="selectStartYearCo2" class="form-control" name="selectStartYearCo2" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="selectEndYearCo2">End year:</label>
            </div>
            <div class="col-sm-10">
                <select id="selectEndYearCo2" class="form-control" name="selectEndYearCo2" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="yminCo2">Lowest CO<sub>2</sub> value:</label>
            </div>
            <div class="col-sm-10">
                <input id="yminCo2" class="form-control" type="number" name="yminCo2" min="0" max="10000" step="1" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="ymaxCo2">Highest CO<sub>2</sub> value:</label>
            </div>
            <div class="col-sm-10">
                <input id="ymaxCo2" class="form-control" type="number" name="ymaxCo2" min="0" max="10000" step="1"  required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Plot</button>
    </form>

    <form id="co2_bc_form" style="display: none" action="calculate_co2_bc" method="POST">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="selectCo2Year">Year for Emissions:</label>
            </div>
            <div class="col-sm-10">
                <select id="selectCo2Year" class="form-control" name="selectCo2Year" required></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="threshold">Threshold for the CO<sub>2</sub> values:</label>
            </div>
            <div class="col-sm-10">
                <input id="threshold" class="form-control" type="number" name="threshold" min="0" max="100" step="0.01" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Plot</button>
    </form>
</div>
<!-- Script has to be put at the end to ensure that the body is loaded before the script -->
<script src="{{url_for('static', filename='utils.js')}}"></script>
<script> function validateTemperatureValues(){
  var minTemp = document.forms["temperature_form"]["ymin"].value;
  var maxTemp = document.forms["temperature_form"]["ymax"].value;
  if (minTemp > maxTemp){
    alert("Max temperature must be greater than minimum temperature");
    return false;
  }

}
</script>
{% endblock %}
